language: php

php:
  - 7.0
  - 7.1
  - 7.2

sudo: false

services:
    - elasticsearch

install: travis_retry composer install --no-interaction --prefer-dist

before_script:
    - sleep 10

script: vendor/bin/phpunit --verbose
