parameters:
  paths:
    - config
    - src

  level: 0

  ignoreErrors:
    - "#\\(void\\) is used.#"
    - "#MeiliSearch\\\\Client referenced with incorrect case#"
    - "#MeiliSearch\\\\MeiliSearch referenced with incorrect case#"
