parameters:
  paths:
    - config
    - src

  level: 0

  ignoreErrors:
    - identifier: new.static
    - "#\\(void\\) is used.#"
    -
      identifier: property.notFound
      path: src/Traits/ConfiguresJob.php

  excludePaths:
    - src/Engines/Algolia3Engine.php
