<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>external-network</group>
        </exclude>
    </groups>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="testing"/>
        <!--
        <env name="ALGOLIA_APP_ID" value="(null)"/>
        <env name="ALGOLIA_SECRET" value="(null)"/>
        <env name="MEILISEARCH_HOST" value="(null)"/>
        -->
    </php>
</phpunit>
